body {
  background-color: #0d1011;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

button,
select,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.btn {
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  padding: 15px 60px;
  text-align: center;
}
.btn-primary {
  transition: color 0.3s ease, background-color 0.3s ease;
  color: #fff;
  background-color: #6e80fd;
}
.btn-primary:hover {
  background-color: #333535;
  color: #7183ff;
}
.btn-outline {
  color: #6e80fd;
  background-color: #0d1011;
  border: 1px solid #6e80fd;
}

@font-face {
  font-family: "Kalpazan";
  src: url(./../fonts/Kalpazan.otf);
}
/*
  Basic styles for links
*/
a {
  transition: color 0.3s ease;
  color: #161a21;
  text-decoration: none;
}

ul,
ol,
dl,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-size: 48px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  line-height: 1;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 80px;
  }
}

h2, .h2 {
  font-size: 24px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 40px;
  }
}

h3, .h3 {
  font-size: 20px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
}
@media (min-width: 768px) {
  h3, .h3 {
    font-size: 34px;
  }
}

h4, .h4 {
  font-size: 18px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
}
@media (min-width: 768px) {
  h4, .h4 {
    font-size: 30px;
  }
}

h5, .h5 {
  font-size: 16px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
}
@media (min-width: 768px) {
  h5, .h5 {
    font-size: 20px;
  }
}

h6, .h6 {
  font-size: 14px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
}
@media (min-width: 768px) {
  h6, .h6 {
    font-size: 18px;
  }
}

p, .p {
  font-size: 14px;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
}
@media (min-width: 768px) {
  p, .p {
    font-size: 30px;
  }
}
p a, .p a {
  color: #7183ff;
}
p a:hover, .p a:hover {
  color: #9da5ff;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-active {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.container-sm {
  max-width: 1000px;
}
.container-fluid {
  max-width: none;
}

.section-title {
  text-align: center;
  font-weight: 900;
  margin: 0 0 10px;
}
.section-title-sm {
  font-size: 38px;
  margin: 0 0 30px;
}
@media (min-width: 768px) {
  .section-title-sm {
    font-size: 64px;
    margin: 0 0 50px;
  }
}

.section-sub-title {
  text-align: center;
  font-weight: 600;
  color: #868788;
  margin: 0 0 120px;
}
@media (min-width: 768px) {
  .section-sub-title {
    margin: 0 0 80px;
  }
}

.section-title-group {
  margin: 0 0 40px;
}
.section-title-group h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 10px;
}
.section-title-group-sub {
  text-align: center;
}
.section-title-group-sub span {
  display: inline-block;
  background-color: #7183ff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  position: relative;
}
.section-title-group-sub span:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7183ff;
  position: absolute;
  top: 0;
  left: -20px;
}
.section-title-group-sub span:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7183ff;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -20px;
}

.anchor-slider {
  position: fixed;
  z-index: 2;
  top: 40%;
  left: -14px;
  display: none;
  transition: all 2s ease;
  opacity: 0;
  transform: translateX(-100px);
}
@media (min-width: 1024px) {
  .anchor-slider {
    display: block;
  }
}
.anchor-slider.in-viewport {
  opacity: 1;
  transform: translateX(0);
}
.anchor-slider .anchor-link {
  position: relative;
  margin: 0 0 20px;
}
.anchor-slider .anchor-link:last-child {
  margin: 0;
}
.anchor-slider .anchor-link a {
  transition: background-color 0.3s ease, width 0.3s ease;
  display: block;
  width: 30px;
  height: 10px;
  background-color: #333535;
  border-radius: 4px;
  margin: 0 auto;
}
@media (min-width: ) {
  .anchor-slider .anchor-link a {
    width: 48px;
  }
}
.anchor-slider .anchor-link a:hover {
  background-color: #7183ff;
}
.anchor-slider .anchor-link .anchor-active {
  background-color: #7183ff;
  width: 10px;
  height: 10px;
  margin: 0 auto;
}

.anchor-arrow {
  position: absolute;
  right: 20px;
  bottom: 4%;
  transform: rotate(180deg) translateX(-100px);
  animation: 2s ease 1s infinite running hovering-arrow;
  transition: all 2s ease-in-out;
  opacity: 0;
  display: none;
}
@media (min-width: 768px) {
  .anchor-arrow {
    right: 50px;
    bottom: 10%;
    display: block;
  }
  @keyframes hovering-arrow {
    0% {
      bottom: 26%;
    }
    50% {
      bottom: 24%;
    }
    100% {
      bottom: 26%;
    }
  }
}
.in-viewport .anchor-arrow {
  opacity: 1;
  transform: rotate(180deg) translateX(0);
}
.anchor-arrow a {
  transition: background-color 0.3s ease;
  padding: 10px 12px;
  border: 1px solid #7183ff;
  border-radius: 4px;
  background-color: #161a21;
}
.anchor-arrow a:hover {
  background-color: #7183ff;
}
.anchor-arrow a:hover span {
  color: #fff;
}
.anchor-arrow a span {
  transition: color 0.3s ease;
  color: #7183ff;
}

.hero-section {
  padding: 50px 0;
  transition: all 2s ease;
  opacity: 0;
  transform: translateY(100px);
  position: relative;
}
@media (min-width: 768px) {
  .hero-section {
    padding: 60px 0;
  }
}
.hero-section.in-viewport {
  opacity: 1;
  transform: translateY(0);
}

.hero-section-content-img-holder {
  margin: 0 auto;
  width: 300px;
  position: relative;
}
@media (min-width: 520px) {
  .hero-section-content-img-holder {
    width: 380px;
  }
}
@media (min-width: 768px) {
  .hero-section-content-img-holder {
    width: 400px;
  }
}
@media (min-width: 1024px) {
  .hero-section-content-img-holder {
    width: 450px;
  }
}
.hero-section-content-img-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: -18px;
  background: url("./../images/desktop-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  animation: 10s linear 1s infinite running hovering-left;
}
@media (min-width: 520px) {
  .hero-section-content-img-holder:before {
    top: -100px;
    left: -14px;
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 768px) {
  .hero-section-content-img-holder:before {
    top: -50px;
    left: -130px;
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 1024px) {
  .hero-section-content-img-holder:before {
    top: -50px;
    left: -150px;
    width: 180px;
    height: 180px;
  }
}
@keyframes hovering-left {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hero-section-content-img-holder:after {
  content: "";
  display: block;
  position: absolute;
  top: -80px;
  right: -18px;
  background: url("./../images/coding-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  animation: 8s linear 1s infinite running hovering-right;
}
@media (min-width: 520px) {
  .hero-section-content-img-holder:after {
    top: -100px;
    right: -14px;
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 768px) {
  .hero-section-content-img-holder:after {
    top: -40px;
    right: -130px;
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 1024px) {
  .hero-section-content-img-holder:after {
    top: -30px;
    right: -120px;
    width: 180px;
    height: 180px;
  }
}
@keyframes hovering-right {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.works-section {
  padding: 50px 0;
}

.project-post {
  margin: 0 0 60px;
}
@media (min-width: 768px) {
  .project-post {
    margin: 0 0 100px;
  }
}
.project-post-title {
  margin: 0 0 20px;
}
.project-post-title a {
  color: #fff;
}
.project-post-sub-title {
  color: #868788;
  font-size: 16px;
  max-width: 500px;
  margin: 0 0 40px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .project-post-sub-title {
    font-size: 18px;
  }
}
.project-post-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.project-post-tabs p {
  font-size: 14px;
  padding: 6px 10px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #161a21;
  border-radius: 6px;
  margin: 0 10px 10px 0;
}

.project-post-card .img-holder {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin: 0 auto 10px;
}
@media (min-width: 768px) {
  .project-post-card .img-holder {
    max-height: 500px;
  }
}
.project-post-card .img-holder img {
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 768px) {
  .project-post-card .img-holder img {
    min-height: auto;
  }
}
.project-post-card .img-holder:before {
  transition: background-color 0.3s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 4px;
}
.project-post-card .img-holder:hover:before {
  background-color: rgba(16, 7, 29, 0.6588235294);
}
.project-post-card .img-holder:hover .btn {
  opacity: 1;
}
.project-post-card .img-holder.sm {
  transition: opacity 0.3s ease;
  width: 50%;
  display: block;
  position: relative;
  margin: 0 5px;
}
@media (min-width: 768px) {
  .project-post-card .img-holder.sm {
    margin: 0 5px;
  }
}
.project-post-card .img-holder img {
  border-radius: 4px;
}
.project-post-card .img-holder .btn {
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: none;
}
@media (min-width: 768px) {
  .project-post-card .img-holder .btn {
    display: block;
  }
}
.project-post-card .img-holder .btn:hover {
  background-color: #6e80fd;
  color: #fff;
}

.card-holder {
  background-color: #161a21;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 0 0 20px;
}
.card-holder .card-link {
  width: 200px;
  height: 200px;
  background-color: #161a21;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #6e80fd;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.project-post-card-split {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
}

.works-content .btn-holder {
  display: flex;
  justify-content: center;
}

.section-about {
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 50px 0 20px;
  opacity: 0;
  transform: translateY(100px);
}
@media (min-width: 768px) {
  .section-about {
    padding: 60px 0;
  }
}
.section-about.in-viewport {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .about-content {
    display: flex;
    justify-content: space-between;
  }
}

.about-content-description {
  width: 100%;
  margin: 0 0 60px;
}
@media (min-width: 768px) {
  .about-content-description {
    width: 52%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .about-content-description {
    width: 50%;
    margin: 0;
  }
}
.about-content-description-title {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .about-content-description-title {
    margin: 0 0 40px;
  }
}
.about-content-description-title h2 {
  margin: 0;
}
.about-content-description-title .img-holder {
  margin: 0 0 0 10px;
  width: 28px;
}
@media (min-width: 768px) {
  .about-content-description-title .img-holder {
    width: 39px;
    margin: 0 0 0 15px;
  }
}
.about-content-description-text {
  font-size: 18px;
}
@media (min-width: 1024px) {
  .about-content-description-text {
    font-size: 30px;
  }
}

.about-content-contacts {
  width: 100%;
}
@media (min-width: 768px) {
  .about-content-contacts {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .about-content-contacts {
    width: 33%;
  }
}
.about-content-contacts-title {
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .about-content-contacts-title {
    margin: 0 0 40px;
  }
}
.about-content-contacts-text {
  margin: 0 0 20px;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .about-content-contacts-text {
    font-size: 30px;
  }
}
.about-content-contacts-icon {
  background-color: #161a21;
  border-radius: 4px;
  margin: 0 0 20px;
}
.about-content-contacts-icon .img-holder {
  width: 140px;
  margin: 0 auto;
  padding: 20px 0;
}
.about-content-contacts-icon .img-holder img {
  animation: rotation 10s ease infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-16deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.preloader {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d1011;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.loader {
  position: relative;
  width: 70px;
  height: 70px;
}
.hide-preloader .loader {
  display: none;
}
.loader p {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 28px 0;
  margin: 0;
}
.loader:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #6e80fd;
  animation: 1.6s spinnerFirst ease-in-out infinite;
}
.loader:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background: #6e80fd;
  display: block;
  animation: 1.6s spinnerSecond ease-in-out infinite;
}

@keyframes spinnerFirst {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: calc(100% - 8px);
    left: 0;
    width: 8px;
    height: 8px;
  }
  50% {
    top: calc(100% - 15px);
    left: calc(100% - 15px);
    width: 15px;
    height: 15px;
  }
  75% {
    top: 0;
    left: calc(100% - 8px);
    width: 8px;
    height: 8px;
  }
  100% {
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
  }
}
@keyframes spinnerSecond {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: calc(100% - 8px);
    width: 8px;
    height: 8px;
  }
  50% {
    right: calc(100% - 15px);
    bottom: calc(100% - 15px);
    width: 15px;
    height: 15px;
  }
  75% {
    right: calc(100% - 8px);
    bottom: 0;
    width: 8px;
    height: 8px;
  }
  100% {
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
  }
}
.protfolio-hero {
  padding: 34px 0 20px;
}
@media (min-width: 768px) {
  .protfolio-hero {
    padding: 60px 0;
  }
}
.protfolio-hero .section-title {
  margin: 0 0 20px;
}
.protfolio-hero .section-sub-title {
  margin: 0 0 16px;
}
@media (min-width: 768px) {
  .protfolio-hero .section-sub-title {
    margin: 0 0 30px;
  }
}
.protfolio-hero .section-title-group-sub {
  margin: 0 0 60px;
}

.error-section {
  padding: 50px 0;
}

.error-content .section-title {
  font-size: 34px;
}
.error-content .section-sub-title {
  font-size: 20px;
  margin: 0 0 40px;
}
.error-content .img-holder {
  width: 200px;
  margin: 0 auto;
}

.footer {
  padding: 50px 0 0;
  position: relative;
}
@media (min-width: 890px) {
  .footer {
    padding: 50px 0 10px;
  }
}
.footer-img {
  position: absolute;
  left: -50px;
  bottom: -50px;
  width: 300px;
}

.footer-content {
  border-top: 1px solid #818cff;
  padding: 30px 0 0;
  margin: 0 0 70px;
}
@media (min-width: 890px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}

.footer-content-left {
  width: 100%;
  margin: 0 0 60px;
}
@media (min-width: 890px) {
  .footer-content-left {
    max-width: 570px;
    width: 50%;
    margin: 0;
  }
}
.footer-content-left-description {
  margin: 0 0 30px;
}
@media (min-width: 520px) {
  .footer-content-left-description {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }
}
@media (max-width: 520px) {
  .footer-content-left .btn-holder {
    display: flex;
    justify-content: center;
  }
}
.footer-content-left .btn-holder .btn {
  display: inline-block;
  margin: 0 auto;
}
@media (min-width: 890px) {
  .footer-content-left .btn-holder .btn {
    display: block;
    max-width: 570px;
  }
}

.footer-nav {
  margin: 0 0 30px;
}
.footer-nav li {
  margin: 0 auto 10px;
}
@media (min-width: 890px) {
  .footer-nav li {
    margin: 0 0 10px auto;
  }
}
.footer-nav li a {
  transition: color 0.3s ease;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
}
@media (min-width: 890px) {
  .footer-nav li a {
    text-align: right;
  }
}
.footer-nav li a:hover {
  color: #7183ff;
}
.footer-nav .active a {
  color: #7183ff;
}

.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 890px) {
  .icon-group {
    justify-content: flex-end;
  }
}
.icon-group span {
  transition: color 0.3s ease;
  color: #fff;
  font-size: 16px;
  margin: 0 10px;
}
@media (min-width: 890px) {
  .icon-group span {
    margin: 0 0 0 20px;
  }
}
.icon-group span:hover {
  color: #7183ff;
}

.description-wrap {
  padding: 0 10px 0 0;
}
.description-wrap .info-footer {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}
.description-wrap .info-footer .img-holder {
  width: 38px;
}
.description-wrap .info-footer h4 {
  margin: 0 0 0 16px;
  font-weight: 500;
}
.description-wrap p {
  font-size: 14px;
  line-height: 1.4;
}
@media (min-width: 520px) {
  .description-wrap p {
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .description-wrap p {
    font-size: 20px;
  }
}

.description-icon {
  background-color: #161a21;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  padding-top: 20px;
}
@media (min-width: 520px) {
  .description-icon {
    margin: 0;
    width: 47%;
  }
}
@media (min-width: 768px) {
  .description-icon {
    max-height: 180px;
    padding: 0;
  }
}
.description-icon .img-holder {
  width: 150px;
}
.description-icon .img-holder img {
  vertical-align: bottom;
}

.copyright {
  text-align: center;
  font-weight: 300;
  font-size: 12px;
}

.top-scroll-holder {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #161a21;
}
.top-scroll-holder-indicator {
  transition: color 0.2s ease;
  width: 0;
  height: 5px;
  background-color: #323ec9;
}

.header .container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .header .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .header-group {
    padding: 25px 0;
  }
}

.logo {
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
.logo:hover {
  opacity: 0.6;
}
.logo-holder {
  width: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-holder div {
  color: #868788;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 0 10px;
  position: relative;
  display: block;
}
@media (min-width: 768px) {
  .logo-holder div {
    font-size: 18px;
  }
}

.nav-opener-holder {
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .nav-opener-holder {
    display: none;
  }
}

.nav-opener {
  display: block;
  width: 30px;
  height: 24px;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .nav-opener {
    display: none;
  }
}
.nav-opener span, .nav-opener:before, .nav-opener:after {
  transition: transform 0.3s ease;
  content: "";
  background-color: #7183ff;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  margin-top: -2px;
}
.nav-opener:before {
  top: 2px;
}
.nav-opener span {
  top: 13px;
}
.nav-opener:after {
  top: 24px;
}
.nav-active .nav-opener {
  width: 30px;
  height: 24px;
}
.nav-active .nav-opener span {
  height: 0;
}
.nav-active .nav-opener:before {
  top: 13px;
  transform: rotate(45deg);
}
.nav-active .nav-opener:after {
  top: 13px;
  transform: rotate(-45deg);
}

.drop {
  transition: transform 0.3s ease, top 0.3s ease;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #0d1011;
  padding: 80px 20px;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  overflow-y: auto;
  touch-action: pan-y;
}
@media (min-width: 768px) {
  .drop {
    background: transparent;
    position: relative;
    transform: none;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }
}
.nav-active .drop {
  transform: translateX(0);
}

.menu-main {
  padding: 0;
  position: relative;
  top: 30%;
}
@media (min-width: 768px) {
  .menu-main {
    display: flex;
    align-items: center;
    margin: 0;
  }
}
.menu-main li {
  margin: 0 0 22px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .menu-main li {
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 40px;
  }
}
.menu-main li a {
  transition: color 0.3s ease;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
  color: #868788;
  font-weight: 600;
}
@media (min-width: 768px) {
  .menu-main li a {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  .menu-main li a {
    font-size: 18px;
  }
}
.menu-main li a:hover {
  color: #fff;
}
.menu-main .active a {
  color: #fff;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xpus3c");
  src: url("../fonts/icomoon.eot?xpus3c#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xpus3c") format("truetype"), url("../fonts/icomoon.woff?xpus3c") format("woff"), url("../fonts/icomoon.svg?xpus3c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-top:before {
  content: "\e900";
}

.icon-telegram:before {
  content: "\e901";
}

.icon-linkedin:before {
  content: "\e902";
}

.icon-github:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-gmail:before {
  content: "\e905";
}