// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site
// -----------------------------------------------------------------------------

.top-scroll-holder {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: $secondary;

  &-indicator {
    @include transition(color, 0.2s);
    width: 0;
    height: 5px;
    background-color: $purple-03;
  }
}

.header {
  .container {
    padding-left: 20px;
    padding-right: 20px;

    @include media('>=tablet') {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    @include media('>=tablet') {
      padding: 25px 0;
    }
  }
}

.logo {
  @include transition(opacity);
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.6;
  }

  &-holder {
    width: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      color: $gray-01;
      font-size: 16px;
      font-weight: $font-weight-bold;
      padding: 0 0 0 10px;
      position: relative;
      display: block;

      @include media('>=tablet') {
        font-size: 18px;
      }
    }
  }
}

.nav-opener-holder {
  position: relative;
  z-index: 10;

  @include media('>=tablet') {
    display: none;
  }
}

.nav-opener {
  display: block;
  width: 30px;
  height: 24px;
  position: relative;
  z-index: 10;

  @include media('>=tablet') {
    display: none;
  }

  span,
  &:before,
  &:after {
    @include transition(transform);
    content: '';
    background-color: $purple-03;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: -2px;
  }

  &:before {
    top: 2px;
  }

  span {
    top: 13px;
  }

  &:after {
    top: 24px;
  }

  .nav-active & {
    width: 30px;
    height: 24px;

    span {
      height: 0;
    }

    &:before {
      top: 13px;
      transform: rotate(45deg);
    }

    &:after {
      top: 13px;
      transform: rotate(-45deg);
    }
  }
}

.drop {
  @include transition(transform top);
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: $dark-01;
  padding: 80px 20px;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  overflow-y: auto;
  touch-action: pan-y;

  @include media('>=tablet') {
    background: transparent;
    position: relative;
    transform: none;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  .nav-active & {
    transform: translateX(0);
  }
}

.menu-main {
  padding: 0;
  position: relative;
  top: 30%;

  @include media('>=tablet') {
    display: flex;
    align-items: center;
    margin: 0;
  }

  li {
    margin: 0 0 22px;
    display: flex;
    justify-content: center;

    @include media('>=tablet') {
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 0 40px;
    }

    a {
      @include transition(color);
      position: relative;
      text-transform: capitalize;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      text-align: center;
      color: $gray-01;
      font-weight: $font-weight-semibold;
      
      @include media('>=tablet') {
        font-size: 14px;
        font-weight: $font-weight-normal;
      }

      @include media('>=desktop') {
        font-size: 18px;
      }

      &:hover {
        color: $primary;
      }
    }
  }

  .active {
    a {
      color: $primary;
    }
  }
}
  