// Breakpoints map

$breakpoints: (
  'xs-phone': 320px,
  'phone': 520px,
  'tablet': 768px,
  'lg-tablet': 890px,
  'desktop': 1024px,
  'md-desktop': 1080px,
  'lg-desktop': 1238px,
  'laptop': 1480px,
  'widescreen': 1920px
);

// Color system
$white: #fff;
$black: #000;

$dark-01: #0d1011;
$dark-02: #161a21;
$dark-03: #060707;

$purple-01: #9da5ff;
$purple-02: #6e80fd;
$purple-03: #7183ff;
$purple-04: #818cff;

$gray-01: #868788;
$gray-02: #333535;
$gray-03: #c9d1c8;

$primary: $white;
$secondary: $dark-02;

// Font/typography
$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Kalpazan', sans-serif;
$base-font-path: '../fonts';

$font-weight-thin: 100;
$font-weight-ulight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;


// link reset
$link-color: $secondary;
$link-decoration: none;

// border radius
$rounded-circle: 50%;

// transition
$animation-speed: 0.3s;
$transition-duration-base: ease;
