<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
    <title>Ivan Chebotar - A Front-End Developer</title>
  </head>
  <body class="body">
    <div class="wrapper">
      <div id="page-preloader" class="preloader">
        <div class="loader">
          <p>loading</p>
        </div>
      </div>
      <header class="header" id="section1">
        <div class="top-scroll-holder">
          <div class="top-scroll-holder-indicator"></div>
        </div>
        <div class="container">
          <div class="header-group">
            <div class="logo">
              <a href="index.html" class="logo-holder">
                <img src="images/logo.svg" alt="logo icon">
                <div>Ivan Chebotar</div>
              </a>
            </div>
            <nav class="menu">
              <div class="nav-opener-holder">
                <a href="#" class="nav-opener">
                  <span></span>
                </a>
              </div>
              <div class="drop">
                <ul class="menu-main">
                  <li class="active"><a href="#">Work</a></li>
                  <li><a href="projects.html">Portfolio</a></li>
                  <li><a href="about.html">About</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <main class="main">
        <nav>
          <ul class="anchor-slider viewport-section">
            <li class="anchor-link"><a href="#section1"></a></li>
            <li class="anchor-link"><a href="#section2"></a></li>
            <li class="anchor-link"><a href="#section3"></a></li>
            <li class="anchor-link"><a href="#section4"></a></li>
            <li class="anchor-link"><a href="#section5"></a></li>
            <li class="anchor-link"><a href="#section6"></a></li>
          </ul>
        </nav>
        <section class="hero-section viewport-section">
          <div class="container">
            <div class="hero-section-content">
              <h1 class="section-title">Hi, I'm Ivan</h1>
              <h2 class="section-sub-title">a Front-End developer</h2>
              <div class="hero-section-content-img-holder">
                <img src="images/personal-icon-1.png" alt="memoji pic">
              </div>
            </div>
          </div>
          <ul class="anchor-arrow">
            <li class="anchor-link"><a href="#section2"><span class="icon-arrow-top"></span></a></li>
          </ul>
        </section>
        <section class="works-section" id="section2">
          <div class="container container-sm">
            <div class="works-content">
              <div class="section-title-group">
                <h2>My latest works</h2>
                <div class="section-title-group-sub">
                  <span></span>
                </div>
              </div>
              <div class="project-post">
                <h3 class="project-post-title">ACC app</h3>
                <p class="project-post-sub-title">A register app that stores your login and password data. (currently doesn't work full)</p>
                <div class="project-post-card">
                  <a href="https://ivanchebotar.github.io/acc-app" target="_blank" class="img-holder">
                    <img src="images/img-card-01.svg" alt="">
                    <button class="btn btn-outline">visit</button>
                  </a>
                </div>
              </div>
              <div class="project-post" id="section3">
                <h3 class="project-post-title">Alfred</h3>
                <p class="project-post-sub-title">An app that can help you to orader your list.</p>
                <div class="project-post-card">
                  <a href="https://ivanchebotar.github.io/alfred-app/" target="_blank" class="img-holder">
                    <img src="images/img-card-04.svg" alt="">
                    <button class="btn btn-outline">visit</button>
                  </a>
                </div>
              </div>
              <div class="project-post" id="section4">
                <h3 class="project-post-title">Travel Guide</h3>
                <p class="project-post-sub-title">Simple landing page</p>
                <div class="project-post-card">
                  <a href="https://ivanchebotar.github.io/travel-guide/" target="_blank" class="img-holder">
                    <img src="images/img-card-03.png" alt="">
                    <button class="btn btn-outline">visit</button>
                  </a>
                  <div class="project-post-card-split">
                    <a href="https://ivanchebotar.github.io/travel-guide/" target="_blank" class="img-holder sm">
                      <img src="images/img-card-04.png" alt="">
                    </a>
                    <a href="https://ivanchebotar.github.io/travel-guide/" target="_blank" class="img-holder sm">
                      <img src="images/img-card-05.png" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="project-post" id="section5">
                <h3 class="project-post-title">line</h3>
                <p class="project-post-sub-title">An app that works like paint.</p>
                <div class="project-post-card">
                  <a href="https://ivanchebotar.github.io/line" target="_blank" class="img-holder">
                    <img src="images/img-card-09.svg" alt="">
                    <button class="btn btn-outline">visit</button>
                  </a>
                </div>
              </div>
              <div class="btn-holder">
                <a href="projects.html" class="btn btn-primary">more works</a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer" id="section6">
        <div class="container">
          <div class="footer-content">
            <div class="footer-content-left">
              <div class="footer-content-left-description">
                <div class="description-wrap">
                  <div class="info-footer">
                    <div class="img-holder">
                      <img src="images/info-icon.svg" alt="info">
                    </div>
                    <h4>Get in touch</h4>
                  </div>
                  <p>If you want to work together on a project or just have a chat, please don't hesitate to contact me via email below.</p>
                </div>
                <div class="description-icon">
                  <div class="img-holder">
                    <img src="images/personal-icon-4.png" alt="memoji like">
                  </div>
                </div>
              </div>
              <div class="btn-holder">
                <a class="btn btn-primary" href="mailto:ivann.chebotar@gmail.com">send me an email</a>
              </div>
            </div>
            <div class="footer-content-right">
              <ul class="footer-nav">
                <li><a href="#section1">Work</a></li>
                <li><a href="projects.html">Portfolio</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
              <ul class="icon-group">
                <li><a target="_blank" href="https://www.linkedin.com/in/ivan-chebotar-926b071a3"><span class="icon-linkedin"></span></a></li>
                <li><a target="_blank" href="https://www.instagram.com/vanya.cheb"><span class="icon-instagram"></span></a></li>
                <li><a target="_blank" href="https://github.com/ivanchebotar"><span class="icon-github"></span></a></li>
              </ul>
            </div>
          </div>
          <h6 class="copyright">© 2022 All rights reserved</h6>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>